body{
   margin: 0;
   padding: 0;
   height: 100%;
   width: 100%;
}
[class*="col-"]{
   min-height: 7px;
   float: left;
}

.container{
   width: 100%;
   height: 1200px;
   margin: 0px auto;
   justify-content: center;
   align-items: center;
}

.row:before, .row::after{
   content: " ";
   display: table;
}

.row:after{
   clear: both;
}

.col-12{
  width: 100%;
}
.title{
   margin-top:30%;
   font-size: 300%;
   color: white;
}
.alignCenter{
   text-align: center;
}
@media (min-width: 0px) and (max-width:320px){
   .portada{
      background-image:url(../img/ventanilla.jpg);
      background-size: cover;
      width: 100%;
      height: 565px;
   }
}

@media (min-width: 321px) and (max-width:768px){
      .portada{
      background-image:url(../img/ventanilla.jpg);
      background-size: cover;
      width: 100%;
      height: 565px;
   }
      .title{
      margin-top:30%;
      font-size: 400%;
      color: white;
   }
}

@media (min-width: 769px){
   .portada{
      background-image:url(../img/ventanilla.jpg);
      background-size: cover;
      width: 100%;
      height: 1200px;
   }
}
